.filterbox{
    border: 1px solid black;
    width: 150px;
    height: 300px;
    position: absolute;
    margin-left: 20px;
    margin-top: 50px;
}

.home {
    border: 1px solid black;
    width: 88%;
    margin-left: auto;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.cards > div {
    border: 1px solid black;
}

img {
    width: 200px;
}

.select{
    border: 1px solid black;
    width: 200px;
    height: 50px;
    position: absolute;
    margin-left: 1000px;
    margin-top: 10px;
}